.media {
  padding: 20px 0px 20px 0px;
  text-align: center;
  text-transform: capitalize;
}

.media p:first-child {
  color: rgb(119, 153, 153);
  font-size: 15px;
}

.media p:last-child {
  color: rgb(78, 92, 92);
  font-size: 15px;
  font-weight: 700;
}
