.profile {
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 11px 2px rgb(184, 184, 184);
  font-size: 0.9em;
}

.profile__media {
  display: flex;
  background: rgb(206, 206, 206);
}

.profile__media li {
  background: rgb(226, 226, 226);
  flex-basis: 33.33%;
  margin: 1px;
}
