.statistics {
  max-width: 500px;
  font-size: 1.5rem;
  background-color: white;
}

.title {
  text-align: center;
  padding: 20px 100px;
  color: #212121;
}

.list {
  display: flex;
}

.list li {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list li:nth-child(1) {
  background: red;
}

.list li:nth-child(2) {
  background: green;
}

.list li:nth-child(3) {
  background: blue;
}

.list li:nth-child(4) {
  background: yellow;
}

.list li:nth-child(5) {
  background: lightskyblue;
}

.list li:first-child {
  border-radius: 0 0 0 5px;
}

.list li:last-child {
  border-radius: 0 0 5px 0;
}
