.statistics {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: white;
  margin: 20px;
  overflow: hidden;
}

.statistics h2 {
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-size: 1.6rem;
  padding: 10px 0;
}

.statistics ul {
  display: flex;
}

.statistics li {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(100% / 4);
  font-size: 1.4rem;
  padding: 10px 15px;
  background: rgb(255, 212, 212);
  border: 1px solid rgb(255, 98, 98);
}

.statistics li p:last-child {
  font-weight: 00;
}
