.table {
  text-align: center;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.119);
}

.table th {
  background: rgb(147, 147, 208);
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
}

.table td {
  padding: 10px;
  font-size: 1rem;

  color: gray;
}

.table tr {
  background: rgba(255, 255, 255, 0.622);
}

.table tr:nth-child(2n) {
  background: white;
}
